<div [formGroup]="form" class="grid grid-cols-1 gap-5" >


  <app-reuse-inputs
    [control]="form.get('username')!"
    label="username"
    type="text"
    id="email"
  ></app-reuse-inputs>
  <app-reuse-inputs
    [control]="form.get('displayName')!"
    label="displayName"
    type="text"
    id="email"
  ></app-reuse-inputs>


  <app-reuse-inputs
    [control]="form.get('email')!"
    label="Email"
    type="email"
    id="email"
  >
</app-reuse-inputs>
<div class="flex flex-col gap-1">
    <ngxsmk-tel-input
      [formControlName]="'PhoneNumber'"
      dir="ltr"
      class="border-2 w-full block"
      placeholder="Enter phone number"
      [initialCountry]="'SA'"
      [preferredCountries]="['SA', 'EG', 'US']"
      [separateDialCode]="true"
      [theme]="'light'"
      style="
        --tel-border:#5d2de0;
        --tel-ring:#5d2de0;
        --tel-border-radius:12px;
        --tel-focus:#5d2de0;
        --tel-radius:4px;
        --tel-dd-item-hover: rgba(34,197,94,.12);
        --tel-dd-z: 3000";
        --tel-height: 48px;
        --tel-width: 100%;
      [formatWhenValid]="'typing'"
      [lockWhenValid]="true"
      [onlyCountries] ="['SA', 'EG', 'US', 'SA']"
      >
    </ngxsmk-tel-input>

    @if (form.get('PhoneNumber')?.touched && form.get('PhoneNumber')?.invalid) {
      <div class="mt-1.5 text-xs text-red-600 flex items-center gap-1 font-medium">
        @if (form.get('PhoneNumber')?.errors?.['required']) {
          <span>Phone number is required.</span>
        }
        @if (form.get('PhoneNumber')?.errors?.['invalidPhone']) {
          <span>Invalid format for the selected country.</span>
        }
      </div>
    }
  </div>

  <app-reuse-inputs
    [control]="form.get('password')!"
    label="password"
    type="password"
  ></app-reuse-inputs>
  <app-reuse-inputs
    [control]="form.get('confirmPassword')!"
    label="confirm Password"
    type="password"
  ></app-reuse-inputs>
  <!-- Added [loading] binding to match your submission state -->


  <div class="flex flex-col items-center w-full ">
    <div class="grid grid-cols-1  ">
      <div >
        <app-submit-button
          route="account/register"
          mode="create"
          label="Create New Account"
          icon="pi pi-sign-in"
          redirectRoute="/authentication/email-verification"
        />
      </div>

    </div>
  </div>
</div>
