/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";
@import "primeicons/primeicons.css";
:root {
  --color-primary:      #2d1b4d;
  --color-secondary:     #1e4359;
  --color-tertiary:      #456882;
  --color-light:         #D2C1B6;
  --color-primary-hover: #354648;
  --color-text:          #b8d3d9;
  --color-bg:           #5d2de0;

}

/* ── Reset ───────────────────────────────────────────────────────────────── */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--color-bg); /* white */
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* ── Text helpers ────────────────────────────────────────────────────────── */

