<form [formGroup]="form" class="grid grid-cols-1 gap-5">
  <!-- Step 1: Enter Email -->
  <div *ngIf="value === 1" class="grid grid-cols-1 gap-5">
    <app-reuse-inputs
      [control]="form.controls['email']"
      label="Email"
      icon="pi pi-at"
      type="email"
    ></app-reuse-inputs >
    <p-button
      type="button"
      label="Send OTP"
      class="mt-2"
      [disabled]="form.invalid || isSubmitting"
      [loading]="isSubmitting"
      (onClick)="nextStep()"
      icon="pi pi-send"
      fluid
    />
  </div>

  <!-- Step 2: Enter OTP -->
  <div *ngIf="value === 2" class="grid grid-cols-1 gap-5 ">
    <p class="text-center text-muted-color mb-4" >
      An OTP has been sent to {{ email }}. Please enter it below.
    </p>
    <app-reuse-inputs
      [control]="form.controls['OtpCode']"
      label="OTP"
      icon="pi pi-key"
      type="text"
    ></app-reuse-inputs>
    <p-button
      type="button"
      class="mt-2"
      label="Verify OTP"
      [disabled]="form.invalid || isSubmitting"
      [loading]="isSubmitting"
      (onClick)="nextStep()"
      icon="pi pi-check"
      fluid
    />
  </div>


  <div *ngIf="value === 3" class="grid grid-cols-1 gap-5 ">
    <app-reuse-inputs
      [control]="form.controls['password']"
      label="New Password"
      icon="pi pi-lock"
      type="password"
    ></app-reuse-inputs>
    <app-reuse-inputs
      [control]="form.controls['confirmPassword']"
      label="Confirm New Password"
      icon="pi pi-lock"
      type="password"
    ></app-reuse-inputs>
    <p-button
      type="button"
      class="mt-2"
      label="Reset Password"
      [disabled]="form.invalid || isSubmitting"
      [loading]="isSubmitting"
      (onClick)="nextStep()"
      icon="pi pi-refresh"
      fluid
    />


  </div>

  <!-- Step 3: Reset Password -->



</form>
